version: "3.8"

services:
  backend:
    build: ./backend
    container_name: mern-backend
    environment:
      - PORT=4000
      - MONGO_URL=mongodb://localhost:27017/mern_cicd_app
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  ai-agent:
    build: ./ai_agent
    container_name: ai-agent
    ports:
      - "5000:5000"
    env_file: ./ai_agent/.env

volumes:
  mongo_data: