.container {
  max-width: 968px;
  margin: 40px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-container {
  margin: 10px auto;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

input[type='text'] {
  width: 75%;
  font-size: 16px;
  padding: 10px 14px;
}

button {
  flex: 1 0 auto; /* grow shrink basis */
  font-size: 16px;
  font-weight: 700;
  padding: 10px 14px;
  background-color: brown;
  color: white;
  border: 1px solid transparent;
}

button:hover {
  cursor: pointer;
  background-color: rgb(224, 83, 83);
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.title {
  width: 75%;
  font-size: 18px;
}

li > button {
  background-color: chocolate;
  color: #00c;
}

li > button:hover {
  cursor: pointer;
  background-color: rgb(240, 137, 63);
}