name: MERN CD Pipeline

on:
  push:
    branches: [main]

concurrency:
  group: cd-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # backend
      - name: Build backend image
        run: docker build -t ${{ env.DOCKER_USER }}/${{ env.DOCKER_REPO }}:backend ./backend

      - name: Push backend image
        run: docker push ${{ env.DOCKER_USER }}/${{ env.DOCKER_REPO }}:backend

      # frontend
      - name: Build frontend image
        run: docker build -t ${{ env.DOCKER_USER }}/${{ env.DOCKER_REPO }}:frontend ./frontend

      - name: Push frontend image
        run: docker push ${{ env.DOCKER_USER }}/${{ env.DOCKER_REPO }}:frontend

  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Backend to Render
        run: curl -X POST ${{ secrets.RENDER_BACKEND_HOOK }}

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Frontend to Render
        run: curl -X POST ${{ secrets.RENDER_FRONTEND_HOOK }}
    