name: MERN CI Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true


jobs:
  backend:
    name: Backend CI (build, test, lint)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    services:
      mongodb:
        image: mongo:6
        ports: 
          - ${{ secrets.MONGODB_PORT }}:${{ secrets.MONGODB_PORT }}

    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with: 
          node-version: ${{ secrets.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json
      
      - name: Install dependenciess
        run: npm ci

      - name: Run Lint
        run: npm run lint --if--present

      - name: Run Test
        env:
          MONGO_URI: ${{ secrets.MONGODB_URL }}
        run: npm test

      - name: Security Audit (fail on high)
        run: npm audit --audit-level=high


  frontend:
    name: Frontend CI Pipeline for build, lint, test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ secrets.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint --if-present

      - name: Run Build
        run: npm run build

  